table, th, td {
    border: 1px solid black;
    padding: 10px;
}
table { padding: 1px; }
th { background: cyan}
.rheader { background: rgb(132, 1, 255);}
body {
    background: linear-gradient(rgb(183, 0, 255), rgb(0, 255, 234), red);
    background-size: 100% 164%; }